.phone{
	background-color: purple;
	color: white;
	width: 20%;
	font-family: 'Yusei Magic', sans-serif;
}
.thosetacts{
	background-color: darkblue;
	color: lightblue;
	width: 50%;
	font-family: 'Yusei Magic', sans-serif;
}